<%- include partials/header %>
<style>
.footer{
    bottom: 0;
}
</style>
<div class="container">
    <div class="applicants">
        <%data.forEach((applicant)=>{%>
            <%if(applicant.applied === true && applicant.role !== "admin"){%>
                <div class="applicant">
                    <div class="applicantProfile">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img class="profileImage" src="<%=applicant.linkedinProfileUrl%>" alt="<%=applicant.name%>" onerror="this.src='https://i.imgur.com/V0ZBBeO.png';">
                                </div>
                                <div class="col-lg-10">
                                    <%if(applicant.linkedinUrl === undefined){%>
                                        <%if(applicant.fblink === undefined){%>

                                        <%}else{%>
                                            <a class="applicantLinks" target="_blank" href="<%=applicant.fblink%>"><i class="fab fa-facebook"></i></a>
                                        <%}%>
                                    <%}else{%>
                                        <a class="applicantLinks" target="_blank" href="<%=applicant.linkedinUrl%>"><i class="fab fa-linkedin"></i></a>
                                    <%}%>
                                    <a href="applicantProfile-<%=applicant._id%>" target="_blank"><h3><%=applicant.name%></h3></a>
                                    <h5><%=applicant.linkedinHeadline%></h5>
                                    <h6><a href=" mailto:<%=applicant.email%>"><%=applicant.email%></a></h6>
                                    <h6><%=applicant.mobile%></h6>
                                    <h6>Applied on</h6>
                                    <h6><%=applicant.registeredDate%></h6>
                                </div>
                            </div>
                    </div>
                </div>
                <br>
            <%}%>
        <%})%>   
    </div>
</div>