<!-- <%- include partials/header %>
<style>
.footer{
    bottom: 0;
}
</style>
<div class="container">
    <div class="applicants">
        <%data.forEach((applicant)=>{%>
            <%if(applicant.applied === true && applicant.role !== "admin"){%>
                <div class="applicant">
                    <div class="applicantProfile">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img class="profileImage" src="<%=applicant.linkedinProfileUrl%>" alt="<%=applicant.name%>" onerror="this.src='https://i.imgur.com/V0ZBBeO.png';">
                                </div>
                                <div class="col-lg-10">
                                    <%if(applicant.linkedinUrl === undefined){%>
                                        <%if(applicant.fblink === undefined){%>

                                        <%}else{%>
                                            <a class="applicantLinks" target="_blank" href="<%=applicant.fblink%>"><i class="fab fa-facebook"></i></a>
                                        <%}%>
                                    <%}else{%>
                                        <a class="applicantLinks" target="_blank" href="<%=applicant.linkedinUrl%>"><i class="fab fa-linkedin"></i></a>
                                    <%}%>
                                    <a href="applicantProfile-<%=applicant._id%>" target="_blank"><h3><%=applicant.name%></h3></a>
                                    <h5><%=applicant.linkedinHeadline%></h5>
                                    <h6><a href=" mailto:<%=applicant.email%>"><%=applicant.email%></a></h6>
                                    <h6><%=applicant.mobile%></h6>
                                    <h6>Applied on</h6>
                                    <h6><%=applicant.registeredDate%></h6>
                                </div>
                            </div>
                    </div>
                </div>
                <br>
            <%}%>
        <%})%>   
    </div>
</div> -->

<% include partials/adminHeader %>
<!-- Main content -->
<div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href=" /admin">Dashboard</a>
            <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">
                                <%if(user){%>
                                <%if(user.linkedinProfileUrl === undefined){%>
                                <img src="https://i.imgur.com/V0ZBBeO.png" alt="<%=user.name%>">
                                <%}else{%>
                                <img src="<%=user.linkedinProfileUrl%>" alt="<%=user.name%>">
                                <%}%>
                                <%}else{%>
                                <%}%>
                            </span>
                            <div class="media-body ml-2 d-none d-lg-block">
                                <span class="mb-0 text-sm  font-weight-bold"><%=user.name%></span>
                        </div>
        </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <a href=" /examples/profile.html" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
            </a>
            <a href=" /examples/profile.html" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>Settings</span>
            </a>
            <a href=" /examples/profile.html" class="dropdown-item">
                <i class="ni ni-calendar-grid-58"></i>
                <span>Activity</span>
            </a>
            <a href=" /examples/profile.html" class="dropdown-item">
                <i class="ni ni-support-16"></i>
                <span>Support</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#!" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
            </a>
        </div>
        </li>
        </ul>
</div>
</nav>
<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <a href="/">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">All Users</h5>
                                        <span class="h2 font-weight-bold mb-0"><%= data.length %></span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                        <span class="text-nowrap">Since last month</span>
                                    </p> -->
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <a href="/">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Applied Users</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            <% data.forEach((user)=>{%>
                                            <% if(user.applied === true){%>
                                            <%let appliedUsers=[];%>
                                            <%appliedUsers.push(user)%>
                                            <%=appliedUsers.length%>
                                            <%}else{%>
                                            <%}%>
                                            <%})%></span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                                        <span class="text-nowrap">Since last week</span>
                                    </p> -->
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <a href="/">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Shortlisted</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            <% data.forEach((user)=>{%>
                                            <% if(user.Shortlisted === true){%>
                                            <%let appliedUsers=[];%>
                                            <%appliedUsers.push(user)%>
                                            <%=appliedUsers.length%>
                                            <%}else{%>
                                            <%}%>
                                            <%})%>
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                                    <span class="text-nowrap">Since yesterday</span>
                                </p> -->
                            </div>
                        </div>
                    </a>
                </div>
                <!-- <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                                    <span class="h2 font-weight-bold mb-0">49,65%</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fas fa-percent"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="mb-0">Card tables</h3>
                </div>
                <table id="1" class="display">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Shortlist</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Reminder</th>
                            <th>Contacted</th>
                            <th>Completed</th>
                            <th>Reject</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%data.forEach((user)=>{%>
                        <tr>
                            <td><a href="/applicantProfile-<%=user._id%>" target="_blank"><%=user.name%></a></td>
                            <td><%=user.email%></td>
                            <td><%=user.mobile%></td>
                            <td>
                                <%if(user.shortlisted){%>
                                Done
                                <%}else{%>
                                <a class="btn btn-secondary">Done</a>
                                <%}%>
                            </td>
                            <td>
                                <%if(user.applied){%>
                                <i class="bg-success"></i> Applied
                                <%}else{%>
                                <i class="bg-danger"></i> Not Applied
                                <%}%>
                            </td>
                            <td style="text-align: center;">
                                <%if(user.appliedOn){%>
                                    <%if(user.appliedOn.length != 0){%>
                                        -
                                    <%}else{%>
                                    <%=user.appliedOn.getDate()%>/<%=user.appliedOn.getMonth()%>/<%=user.appliedOn.getFullYear()%>
                                <%}%>
                            </td>
                            <%}else{%>
                            -
                            <%}%>
                            <td>
                                <%if(user.reminder){%>
                            <i class="bg-success"></i> Not Sent
                            <%}else{%>
                            <i class="bg-danger"></i> Sent
                            <%}%>
                            </td>
                            <td>
                                <%if(user.contacted){%>
                            Done
                            <%}else{%>
                            <a class="btn btn-secondary">Done</a>
                            <%}%>
                            </td>
                            <td>
                                <%if(user.completed){%>
                                    Done
                                <%}else{%>
                                    <a class="btn btn-secondary">Done</a>
                                <%}%>
                            </td>
                            <td>
                                <%if(user.reject){%>
                                    Done
                                <%}else{%>
                                    <a class="btn btn-secondary">Done</a>
                                <%}%>
                            </td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<% include partials/adminFooter %>