<%- include partials/header %>
<div class="container">
    <div class="applicantProfile">
        <div class="formP formB">
                <%if(data.linkedinUrl === undefined){%>
                    <%if(data.fblink === undefined){%>

                    <%}else{%>
                        <br><a class="applicantLinks" target="_blank" href="<%=data.fblink%>"><i class="fab fa-facebook"></i></a>
                    <%}%>
                <%}else{%>
                    <a class="applicantLinks" target="_blank" href="<%=data.linkedinUrl%>"><i class="fab fa-linkedin"></i></a>
                <%}%>
                <%if(user){%>
                    <div class="profile prof">
                        <img class="profileImage" src="<%=data.linkedinProfileUrl%>" onerror=this.src="https://i.imgur.com/V0ZBBeO.png" alt="<%=data.name%>">
                        <h4><%=data.name%></h4>
                        <h6><%=data.linkedinHeadline%></h6>
                        <br>
                        <a href="/download/<%=data._id%>">Download Resume</a>
                    </div>
                <%}else{%>
                <%}%>
            <div class="form-group">
                <label class="rg-from" for="usr" >Name*</label>
                <h4><%=data.name%></h4>
            </div>
            <div class="form-group">
                <label class="rg-from" for="usr">Email*</label>
                <h4><%=data.email%></h4>    
            </div>
            <div class="form-group">
                <label class="rg-from" for="usr">Mobile*</label>
                <h4><%=data.mobile%></h4>                    
                
            </div>
            <div class="form-group">
                <label class="rg-from" for="usr">Why do you want to join this program?*</label>
                <h4><%=data.joiningObjective%></h4>
            </div>
            <div class="form-group">
                <label class="rg-from" for="usr">Who inspired you the most and why?*</label>
                <h4><%=data.inspiredBy%></h4>                
            </div>
            <div class="form-group">
                <label class="rg-from" for="usr">Do you have a project in your mind?</label>
                <h4><%=data.ideas%></h4>                
            </div>
            <div class="form-group">
                <label class="rg-from" for="usr">How did you hear about us?*</label>
                <h4><%=data.source%></h4>
            </div>
        </div>
    </div>
</div>

<%- include partials/footer %>
