<%- include partials/header %>
<div class="row" style="padding-top: 3%;">
    <div class="col-lg-3 container">
        <%if(user){%>
            <div class="profile">
                <%if(user.linkedinProfileUrl === undefined){%>
                    <img class="profileImage" src="https://i.imgur.com/V0ZBBeO.png" alt="<%=user.name%>">
                <%}else{%>
                    <img class="profileImage" src="<%=user.linkedinProfileUrl%>" alt="<%=user.name%>">
                <%}%>
                <h4><%=user.name%></h4>
                <h6><%=user.linkedinHeadline%></h6>
            </div>
        <%}else{%>
        <%}%>
    </div>
    <div class="col-lg-9">
        <div class="">
            <div class="formH">
                <%- include partials/flash %>
                    <form action="/form?_method=PUT" method="post" class="border formB border-light">
                        <div class="formP">
                            <div class="form-group">
                                <label class="rg-from" for="usr" >Name*</label>
                                <input class="form-control" type="text" required name="name" value="<%=user.name%>"id="usr">
                            </div>
                            <div class="form-group">
                                <label class="rg-from" for="usr">Email*</label>
                                <input class="form-control inputF" type="email" required name="email" value="<%=user.email%>" id="usr">
                            </div>
                            <div class="form-group">
                                <label class="rg-from" for="usr">Mobile*</label>
                                <input class="form-control inputF" type="tel" required name="mobile" class="form-control" id="usr">
                            </div>
                           
                            <div class="form-group">
                                <label class="rg-from" for="usr">Why do you want to join this program?</label>
                                <input class="form-control inputF" type="text" required name="objective" class="form-control" id="usr">
                            </div>
                            <br>
                            <br>
                            <div style="text-align:center;">
                                <p>Are you done? Submit to finalize</p>
                                <button class="btn btnf btn-primary btn-lg" type="submit">SUBMIT</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<%- include partials/footer %>